<DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CRUD</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
         
         
    </head> 
    <body>
        
        <div class="col-8 m-auto pt-2 pb-2 text-center" >
            <h1>Cadastro Clientes</h1>
        </div>
        <div class="col-sm-6 m-auto pt-2 pb-2">
            <form action="." method="GET" class="d-flex">
                <input href="/lista_cliente" class="form-control" type="text" id="busca" name="search" placeholder="Busca" >
                <input class="btn btn-outline-success" type="submit" style="margin-left: 10px;" value="Buscar">
            </form>
        </div>
        
        <div class="col-8 m-auto pt-2 pb-2 text-center">
            <a href="/formCliente" class="btn btn-success">Adicionar Cliente</a>
            <a href="/" class="btn btn-primary">Voltar Início</a>
            <input class="btn btn-danger" type="button" value="Imprimir / Salvar PDF" onClick="window.print()">
        </div>
        <div class="col-8 m-auto pt-4 pb-5 text-center">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Logradouro</th>
                    <th scope="col">telefone</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Acões</th>
                  </tr>
                </thead>
                <tbody>
                    
                    {% for dbs in db %}   
                        <tr>
                            <td>{{dbs.id}}</td>
                            <td>{{dbs.nome}}</td>
                            <td>{{dbs.logradouro}}</td>
                            <td>{{dbs.telefone}}</td>
                            <td>{{dbs.cpf}}</td> 
                            <td>
                                <a href="/viewCliente/{{dbs.id}}/" class="btn btn-outline-info">Visualizar</a>
                                <a href="/editCliente/{{dbs.id}}/" class="btn btn-outline-warning">Editar</a>
                                <a href="/deleteCliente/{{dbs.id}}/" class="btn btn-outline-danger">Deletar</a>
                            </td>
                        </tr>
                    {% endfor %}  
                </tbody>
              </table>
        </div>
    
        
    </body>
    </html>